.background {
  margin-bottom: 20px;
  background: url("IMG_1305.JPG") no-repeat scroll center 0/cover;
  width: 100%
}

.content {
  max-width: 10000px;
  margin-bottom: 94px;
}

.content h1 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 3500;
  color: #ffff00;
}

.Button{
  margin-left: 80px;
  padding: 20px 50px;
  float: left;
}

.image{
  max-width: 98%;
}

.image-container{
  max-width: 98%;
  margin-top: 150px;
}

.image1{
  float: right;
}

.image2{
  float: left;
}

.size{
  size: 800px 80px;
  font-size: 24px;
  float: center;
}

div{
  margin-top: 80px;
}

img{
  max-width: 200px;
}

p{
  max-width: 200px;
  margin-left: 50px;
  display: inline;
}
